@import "https://www.foodchow.com/css/home/font-awesome.min.css";
@import './keyframeAnimations';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: $body-font-family;
    color: $color-primary;

}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    font-weight: lighter;
}

/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/
.home {
    padding-top: 100px;
}

.header-fixed {
    position: fixed !important;
    left: 0;
    top: 0;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
}

.header-area {
    padding: 10px 0;
    position: relative;
    background-color: #fff;
    width: 100%;
    z-index: 999999;
    transition: all 0.4s ease 0s;

}

/**/
.d-block {
    display: block !important
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-wrap: wrap;
}


.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.flex-50 {
    flex:0 0 50%;
}

.navbar-collapse {

    -ms-flex-align: center;
    align-items: center
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    margin-right: 32px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    position: relative;

    &:after {
        content: "";
        height: 4px;
        width: 100%;
        opacity: 0;
        background: $Tags;
        transition: all .18s;
        position: absolute;
        bottom: -82%;
        left: 0;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    &:hover {
        color: $Tags;

        &::after {
            opacity: 1;
        }
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;

}

.logo {
    width: 80px;
}

.width-100 {
    width: 100%;
}

.restaurant-card {
    width: calc((100%/4) - 20px);

    .h3 {
        font-size: 14px;
        font-weight: 400;
    }

    .h4 {
        font-size: 12px;
        font-weight: 400;
    }

    .h5 {
        color: $span;
        font-size: 12px;
        font-weight: 400;
    }
}

.item-link {
    padding: 10px;
    display: block;
    border: 1px solid transparent;

    &:hover {
        border-color: $border-color;
    }
}

.tag-span {
    display: inline-block;
    background: $Tags;
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 10px;
    color: $color-white;
    font-weight: 400;
}

.mg-tb {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mg-top-25{
    margin-top:25px;
}
.shimmer-card {
    background-color: $shimmer;
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 200px;
    display: inline-block;
    position: relative;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

.flex-center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}