/*Default Fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@200;400;500&display=swap');

$heading-font-family: 'Playfair Display', serif;
$body-font-family: 'Poppins', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
