/* =================================== */
/*  Elements Page Styles
/* =================================== */

$default: hsl(240, 100%, 99%);
$color-white:#FFF;
$color-primary:#444;
$success: #4cd3e3;
$info   : #38a4ff;
$warning: #f4e700;
$danger: #f44a40;
$link: #f9f9ff;
$disable: (#222222, .3);
$span:#b1afaf;
$Tags:#ff4d11;
$border-color:#ccc;
$shimmer:#dfdfed;

